* {
    margin: 0;
    padding: 0;
}

*:hover {
    color: #ff6500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

p {
    color: #fff;
}

.tSlow,
nav ul li a:after,
nav ul li a:before,
nav ul .link-active a:after,
nav ul,
nav .logo img,
nav,
button,
input,
select,
option,
textarea,
.rounded_circle,
* {
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.pad100 {
    padding: 100px 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.main_title {
    font-weight: bold;
    color: #060a0f;
    font-size: 60px;
}

.rounded_circle {
    width: 250px;
    height: 250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rounded_circle:hover {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

input,
select,
option,
textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #060a0f;
    margin: 5px 0px;
    opacity: 0.5;
}

input:hover,
input:focus,
select:hover,
select:focus,
option:hover,
option:focus,
textarea:hover,
textarea:focus {
    opacity: 1;
    color: #060a0f;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 250px;
}

button {
    background: white;
    text-transform: uppercase;
    border: 1px solid #060a0f;
    padding: 10px 20px;
    color: #060a0f;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
    background: #060a0f;
    color: #fff;
}

.black {
    background: #060a0f;
    opacity: 1;
    color: #ffffff;
}

.black:hover {
    background: #ff6500;
    border: 1px solid #ff6500;
}

nav {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

nav:hover {
    background: #ffffff;
    padding: 25px 0px;
    border: 1px solid rgba(6, 10, 15, 0.1);
}

nav:hover .logo img {
    width: 80%;
}

nav:hover ul {
    margin-top: 8px;
}

nav:hover ul li a {
    color: rgba(73, 73, 73, 0.5);
}

nav .logo img {
    width: 100%;
}

nav ul {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    text-align: right;
}

nav ul .link-active a {
    color: #060a0f !important;
}

nav ul .link-active a:after {
    width: 100%;
    background: #060a0f;
}

nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    background: transparent;
    height: 1px;
}

nav ul li a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0%;
    background: transparent;
    height: 1px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #060a0f;
}

nav ul li a:hover:before {
    width: 0%;
    background: #060a0f;
}

nav ul li a:hover:after {
    width: 100%;
    background: #060a0f;
}

body {
    /* background: url(../images/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(46, 142, 231);
}

.logo img {
    width: 100%;
}

.info i {
    font-size: 30px;
    color: rgb(3, 235, 42);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
}

#footer .copyright {
    text-align: center;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #ccc !important;
}

.diamante {
    border: 1px solid #000;
}